# vcd files
*.vcd
*.vpd

# any thing in the simv directory
simv*
simv/*

# any dve file
DVEfiles/*

# random files
.__afs*

# csrc file
csrc*

# temporary file
*.swp

# key files
*.key

*.pvl
*.syn
*.log
